body {
    color: white;
  background-color: #000000;
}

div {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 135px;
  height: auto;
}
