body {
    color: black;
  background-color: #FFFFFF;
}

div {
  background-color: a1a1a1;
  width: 300px;
  border: 5px;
  border-style: solid;
  border-color: a1a1a1;
  padding: 20px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}
