body {
    color: white;
  background-color: #000000; /* Use a color name, hex code, or RGB value */
}

div {
  background-color: 242424;
  width: 300px;
  border: 15px;
  border-style: solid;
  border-color: 242424;
  padding: 50px;
  margin: 20px;
}

a {
  color: red;
}
