body {
    color: white;
  background-color: #000000;
}

div {
  background-color: 1a1a1a;
  width: 300px;
  border: 5px;
  border-style: solid;
  border-color: 1a1a1a;
  padding: 20px;
  margin: 10px;
}

a {
  color: red;
}
