body {
    color: white;
  background-color: #000000;
}

div {
  background-color: 1a1a1a;
  width: 450px;
  border: 5px;
  border-style: solid;
  border-color: 1a1a1a;
  padding: 20px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

.back {
    text-align: left;
}

.next {
    text-align: right;
}

.doll {
    color: f26172;
}
